<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!--고유 CSS 추가-->
<!--<th:block layout:fragment="css">-->
<!--</th:block>-->

<!--고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--</th:block>-->
<title>키오스피크 - 말하는 주문 사이트</title>
<div layout:fragment="content">

    <button type="button" class="btn btn-primary">음성</button>
    <p class="jua">주아체</p>
    <button type="button" class="btn btn-secondary">터치</button>

</div>
</html>
